
.box-img {
  height: 295px;
  width: 100%;
  max-width: 320px;
  border-radius: 5%;
  cursor: pointer;
  margin-bottom: 5px;
}

.place {
  font-weight: bold;

}
.bi-star-fill {
  font-size: 12px;
}

.rating{
  display: flex;
  justify-content: space-between;
}
.side {
  color: grey;

}

.container img,
.container p {
  margin: 0;
  padding: 1px 0;
  cursor: pointer;
  font-family:sans-serif;
  font-weight: 100;
}

#period {
  font-size: 14px;
  color: grey;
}


.container {
  margin: 10px;
  position: relative;
  width: fit-content;
  padding: 10px; 
  cursor: pointer;
}

.heart {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
  font-size: 20px;
}


.each-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 70px;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 10px;

}





@media (max-width: 1200px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }
  .box-img {
    height: 275px;
    max-width: 300px;
  }
  .container {
    max-width: 310px;
  }
}

@media (max-width: 900px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }
  .box-img {
    height: 250px;
    max-width: 275px;
  }
  .container {
    max-width: 285px;
  }
}

@media (max-width: 600px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-img {
    height: 200px;
    max-width: 220px;
  }
  .container {
    max-width: 230px;
  }
}

@media (max-width: 400px) {
  .each-card {
    grid-template-columns: 1fr;
  }
  .box-img {
    height: 140px;
    width: 150px;
  }
  .container {
    max-width: 170px;
  }
}

@media (max-width: 375px) {
  .each-card {
    grid-template-columns: 1fr;
  }
  .box-img {
    height: 130px;
    width: 140px;
  }
  .container {
    max-width: 160px;
  }
}

@media (max-width: 360px) {
  .each-card {
    grid-template-columns: 1fr;
  }
  .box-img {
    height: 120px;
    width: 130px;
  }
  .container {
    max-width: 150px;
  }
}