.box-img {
  height: 320px;
  width: 320px;
  border-radius: 5%;
}

.place {
  font-weight: bold;

}

.side {
  color: grey;

}

.container img,
.container p {
  margin: 0;
  padding: 2px 0;
}

#period {
  font-size: 14px;
}

.container {
  margin: 10px;
  position: relative;
}

.heart {
  position: absolute;
  top: 10px;
  left: 170px;
}

.each-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 70px;
  margin-top: 15px;
  margin-bottom: 10px;
  gap: 10px;

}


.btn {
  background: transparent;
  border: 0px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
}



@media (max-width: 1200px) {
  .each-card {
    grid-template-columns: repeat(4, 1fr);
  }

}

@media (max-width: 900px) {
  .each-card {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .each-card {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 400px) {
  .each-card {
    grid-template-columns: 1fr;
  }

  .box-img {
    height: 150px;
    width: 150px;
  }
}
  
@media (max-width: 375px) {
  .each-card {
    grid-template-columns: 1fr;
  }

  .box-img {
    height: 140px;
    width: 140px;
  }

}

@media (max-width: 360px) {
  .each-card {
    grid-template-columns: 1fr;
  }

  .box-img {
    height: 130px;
    width: 130px;
  }

}