.front {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin: 20px;
}

.icon {
  margin-left: 0px;
  margin-bottom: 2px;
}

.title {
  font-size: xx-large;
}

.right-side {
  display: flex;
  gap: 20px;
}

.front {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin: 10px;
}

@media (max-width: 768px) {
  .right-side {
    display: inline-flex;
  }
  .title{
    font-size: medium;
    font-weight: 500;
  }
  .bi-house{
    height: 32px;
    width: 32px;
    padding-top: 1px;
  }
  .bi-heart{
    height: 32px;
    width: 32px;
    padding-top: 1px;
  }
  .front{
    gap:10px;
    justify-content: space-evenly;
    top:0px;
  }
}
