
.wrapper {
    display: flex;
    max-height:100%;
    overflow-x:auto;
}

.p-2 {

    min-width:110px;
    line-height:5px;
    background-color:white;
}
.para {
    align-items: center;
    margin-top:3px;
    font-size: 12px;
}