
.wrapper {
    display: flex;

    max-height:100%;
    border:1px solid grey;
    overflow-x:auto;
}

.p-2 {

    min-width:100px;
    line-height:10px;
    background-color:white;
}
.para {
    align-items: center;
    margin-top:2px;
}