.wrapper {
    display: flex;
    max-height:100%;
    overflow-x:auto;
}
.wrapper::-webkit-scrollbar{
    width:0;
}

.p-2 {

    min-width:110px;
    line-height:5px;
    background-color:white;
}
.para {
    align-items: center;
    margin-top:4px;
    font-size:11px;
    color:#808080;
}