.cont21
{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px;
  position:relative;
  background-color:white;
}
.calender21
{
  padding:20px;
  border:2px solid black;
  cursor:pointer;
}
.dateRange21{
  position:absolute;
  top:120px;
}