.rate-container {
  position: relative;
  display: inline-block;
}

.inner {
  font-size: 10px;
  margin-right: 2px;
  color: gold;
}

.line {
  margin-top: 20px;
}

.Host {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

#name,
.p1,
.p2,
.p3 {
  font-weight: 500;
  font-size: 17px;
}

#p1,
#p2,
#p3 {
  font-weight: 400;
  font-size: 15px;
  color: grey;
}

@media (max-width: 700px) {
  .right-side {
    display: inline-flex;
  }
}
